.navbar {
    width: 100%;


    .navbar__wrapper {

        padding: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .navbar__logo {
            .logo__wrapper {
                .logo__text {
                    color: #f65b00;
                    font-weight: bold;
                    font-size: 2rem;
                    cursor: default;
                }
            }
        }

        .navbar__navigate {
            .github {
                background: #24292f;
                color: white;
                padding: 10px 20px;
                border-radius: 0.5rem;
                transition: opacity 300ms;

                &:hover {
                    transition: opacity 300ms;
                    opacity: 0.6;
                }
            }
        }
    }
}

.translate {
    margin-top: 50px;

    .translate__wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;

        .translate__input {
            border-radius: 0.5rem;
            padding: 10px;
            border: 2px solid #f65b00;
            width: 46%;
            cursor: text;
        }

        .translate__output {
            border-radius: 0.5rem;
            padding: 10px;
            border: 2px solid #f65b00;
            width: 46%;
        }

        .translate__lang {
            border-radius: 0.3rem;
            background: rgb(223, 223, 223);
            width: min-content;
            padding: 2px 5px;
            position: absolute;
            top: -35px;
            cursor: pointer;
            user-select: none;
        }
    }

    .translate__button {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}